@page "/csv-import-settings"

<PageTitle>CSV Import Settings</PageTitle>

<h1>CSV Import Settings</h1>

<p>The CSV Import Settings file is used to set up the configuration that will be used to import your CSV file.</p>

<h2>Scriptable Objects Settings</h2>

<h4>Delimiter</h4>
<p>Choose the delimiter character that separates the columns in the CSV file. Usually it is a colon or a semi-colon.</p>
<p>Tip: If you are not sure about which delimiter is used, open the CSV file using the Notepad to verify it.</p>

<h4>Naming Pattern</h4>
<p>Defines how your Scriptable Objects names will be. It supports taking field values under curly-braces.</p>

<h2>CSV Settings</h2>

<h4>Has Header</h4>
<p></p>

<h4>Has Footer</h4>
<p></p>

<h4>Mappings</h4>
<p></p>