@page "/"

<PageTitle>Getting Started</PageTitle>

<h1>Getting Started</h1>

<p>Welcome to the Unity CSV Importer documentation! This tool is designed to help you import CSV files into your Unity project as Scriptable Objects easily.</p>

<p>Why is it useful?</p>

<p>CSV files are a popular format for storing data, and with this tool, you can effortlessly import them into your Unity project as Scriptable Objects with just a button click. This feature allows you to manage your data conveniently using your preferred software while keeping it secure outside your project. Although ScriptableObjects are powerful in Unity, managing a large number of them in big projects can be challenging. By storing your game data as CSV files, you can also seamlessly integrate it with other tools for in-depth analysis and create detailed charts to help you balance your game.</p>

<h4>Features</h4>
<ul>
    <li>Import CSV files and save them as Scriptable Objects with a button click.</li>
    <li>Supports all C# primitive types, such as string, int, float, double, bool, enum, etc.</li>
    <li>Support custom C# data types with different constructors.</li>
</ul>

<h4>Installation</h4>
<p>There is 2 ways to install the tool. The first one is installing and importing the Unity package. The second one is by using the package manager.</p>

<h4>Installation - Method 1 (custom package)</h4>

<h5>Step 1:</h5>
<p>Download the latest package version under the link:</p>

<h5>Step 2:</h5>
<ul>
    <li>Open the Unity Editor.</li>
    <li>Go to the Asset menu.</li>
    <li>Click on Import Package -> Custom Package.</li>
    <li>Find the downloaded package and select it.</li>
    <li>Click on the Import button.</li>
</ul>

<h4>Installation - Method 2 (package manager)</h4>

<h5>Step 1:</h5>
<ul>
    <li>Open the Unity Editor.</li>
    <li>Go to the Window menu.</li>
    <li>Click on Package Manager.</li>
    <li>Click on the + symbol and select Add package from git URL.</li>
    <li>Enter the package URL:</li>
</ul>

<h4>How to use</h4>

<h5>Step 1:</h5>
<ul>
    <li>Create a CSV Import Settings file under the menu Create -> Scriptable Object -> CSV Import Settings.</li>
    <li>For more information about CSV Import Settings file, see: <a href="csv-import-settings">CSV Import Settings</a>.</li>
</ul>

<h5>Step 2:</h5>
<ul>
    <li>Import the CSV file into your project.</li>
    <li>For more information on how to export your CSV file on your favorite software, see:</li>
</ul>

<h5>Step 3:</h5>
<ul>
    <li>Open the CSV Importer window under the menu Tools -> CSV Importer.</li>
    <li>Select the CSV file.</li>
    <li>Select the CSV Import Settings</li>
    <li>Click on the Import button and select the folder to save the Scriptable Objects.</li>
</ul>
